/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.AUGHJHHHHH {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  margin: 40px;
  font-size: 40px;
}

.AUGHJHHHHH2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  margin: 20px;
  font-size: 40px;
}

.title {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8vw;
  color: white;
}


.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  aspect-ratio: 10 / 3.5; 
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('../../static/img/homepagebanner.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
