/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief&family=Darumadrop+One&family=Emilys+Candy&family=Freckle+Face&family=Love+Ya+Like+A+Sister&family=Mountains+of+Christmas&family=Palette+Mosaic&family=Poiret+One&family=Rampart+One&display=swap');



.AUGHJHHHHH {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 40px;
}

.wavy {
    text-decoration: rgb(255, 96, 231) wavy underline;
    text-decoration-skip-ink: none;
    height: 1.5em;
    text-underline-offset: 10px;
}

.poppins {
   font-family: "Poppins", serif;
}


.grid-pattern {
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #80808024 1px, transparent 1px),
    linear-gradient(to bottom, #80808024 1px, transparent 1px);
  background-size: 24px 24px;
}

.dots {
  background-image: radial-gradient(circle at 1.5px 1.5px, rgba(0, 0, 0, 0.2) 1.5px, transparent 0);
  background-size: 30px 30px;
  background-position: 10px 10px;
}

.title {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.5vw;
}

.title:hover {
  animation-duration: 5.5s;
}

@keyframes fontParty {
  10%  { font-family: 'Darumadrop One';}
  20%  { font-family: 'Mountains of Christmas'; }
  30%  { font-family: 'Comic Relief'; }
  40%  { font-family: 'Palette Mosaic'; }
  50%  { font-family: 'Rampart One'; }
  60%  { font-family: 'Freckle Face'; }
  70%  { font-family: 'Poiret One'; }
  80%  { font-family: 'Emilys Candy'; }
  90%  { font-family: 'Love Ya Like A Sister'; }
}
@keyframes glow-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


