.button-card {
  border: 2px solid rgb(185, 182, 182);
  border-radius: 0.75rem;
    color: rgb(86, 86, 86);
  padding: 0.5rem 0.75rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  height: 100%;
}


.button-card-button {
  background-color: #d1d5db; /* gray-300 */
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  cursor: pointer;
  margin: 0;
 
}

.button-card-button:hover {
  background-color: #d1d5db; /* gray-300 */
}
