/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind components;
@tailwind utilities;

h1 {
  font-size: 40px;
}

a {
  @apply no-underline;
}

.login-button {
  background-color: rgb(232, 247, 247);
  border: 2px solid rgb(131, 199, 199);
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(45, 66, 66);

}

/* custom.css */
button, input, select, textarea {
  border: 1px solid #ccc; /* add subtle border */
  
}

.force-border {
  border: 1px solid #ccc; /* add subtle border */
}

button {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;
}

/* infima ughghggh */


.login-button:hover {
  cursor: pointer;
  background-color: rgb(208, 231, 231);
}

.logged-in-button {
  border: 1px solid rgb(219, 222, 222);
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(45, 66, 66);
}

.logged-in-button:hover {
  cursor: pointer;
  background-color: rgb(235, 238, 238);
}


  

.no-infima * {
  /* it doenst work */
}

.accent {
  position: relative;
  z-index: 1;
  padding: 4px;
}

.accent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid pink;
  background-color: rgb(254, 191, 201, 0.5);
  /*transform: rotate(0deg);*/
  z-index: -1;
  border-radius: 4px; /* optional: makes it look more sketchy */
}

.img-margin-right {
  margin-right: 15px;
}

.doc-flex {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: flex-start;
}

.doc-flex img {
  flex-shrink: 0;   
  flex-grow: 0; 
  height: auto; 
  max-width: 100%; 
}

.checkyo-box {
  border: 1px solid #cbd5e1; /* slate-300 */
  background-color: oklch(98.4% 0.003 247.858);
  border-radius: 0.5rem;      /* rounded-lg */
  padding: 1rem;              /* p-4 */
  color: #334155;             /* slate-700 */
  margin-bottom: 1.25rem;     /* mb-5 */
}



/* convert */
.checkyo-answer {
  text-align: left;
  border: 1px solid oklch(86.9% 0.022 252.894);
  background: white;
  border-radius: 0.5rem;    
  padding: 0.5rem;
  padding-left: 2.5rem;
  margin-left: 1rem;
  width: 100%;
  /*border: 1px solid transparent;*/

  transition: all 0.15s ease;
}

.checkyo-answer.selected-answer {
  border: 1px solid #83c7c7;
  background-color: #e8f7f7;
}


@media (max-width: 1200px) {
  .doc-flex {
    flex-direction: column;
  }

  .doc-flex div {
    margin-top: 10px;
  }
}



.doc-image {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid rgb(166, 171, 176)
}
button {
  border: none;
  background-color: transparent;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}